body{
  font-family: 'Permanent Marker', cursive;
  margin: 0px;
  padding: 0px;
  color: white;
}
.ContainerPart1{
  background-image: url(images/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color : white;
}
header{
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.menu{
  color: white;
  text-decoration: none;
  font-weight: bolder;
  margin-top: 40px;
  height: 23px;
  border-bottom: solid transparent 2px;
  transition: all 0.3s ease-in-out;
}
#logo{
  width: 100px;
  height: 100px;
}

.menu:hover{
  border-color: white;
}
@media only screen and (max-width: 880px) {

}
#titre{
  display: flex;
  justify-content: center;
}
p{
  display: flex;
  justify-content: center;
  margin: 0px;
}
h1{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 450px;
  height: 75px;
  border: 2px solid white;
  transition: width 1s, height 1s;
}
h1:hover{
  width: 500px;
  height: 95px;
}
.social{
  width: 30px;
  height: 30px;
}
#socialMedia{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  height: 200px;
  position: absolute;
}

#Competences{
  margin-top: 260px;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.langages{
  margin-left: 300px;
display: flex;
width: 700px;
justify-content: space-around;
align-items: flex-end;
height: 100px;
}
.langages > p{
  border-top : 1px solid white;
  transition: border-top 1s;
}

.langages > p:hover{
  border-top: 100px solid white;
}
#barre{
  display: flex;
}
.barre{
  width: 45px;
  height: 100px;
  background-color: white;
}
.ContactContainer{
  display: flex;
  background-color: white;
}
.CollaborationContainer{
  width: 50%;
height: 200px;
border-style: solid;
border-width: 200px 200px 0 0;
border-color: #448c9a transparent transparent transparent;
}
#contact{
  display: flex;
  height: 200px;
}
.CollaborationContainertranspa{
  width: 50%;
height:200px;
position: absolute;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
text-decoration: none;
}
#lienContact{
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 50px;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  transition: background-color 500ms, color 500ms ease-in-out;
}
#lienContact:hover{
  background-color: white;
  color: #448c9a;
}
#contact2{
  display: flex;
  height: 350px;
  justify-content: flex-end;
  align-items: flex-end;
}

.CollaborationContainer2{
  width: 50%;
height: 200px;
border-style: solid;
border-width: 0 0 200px 200px;
border-color: transparent transparent #110526  transparent;
}
.ContainerDescription{
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.ContainerDescription > p{
  padding: 20px;
  color: black;
  text-align: center;
}
.ContainerDescription > img{
  width: 100px;
  height: 100px;
  border-radius: 100px;
}
